{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Event Details Header -->
<div class="p-3 bg-primary bg-opacity-75 border border-primary border-start-0 rounded-end">
  <h2 class="ms-5">Fred Again</h2>
</div>

<div class="container ms-5">
  <div class="col-md-7 col-lg-8">
      <div class="row g-5">
          <div class="col-12">
              <div class="row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card">
                          <img class="card-img-top" src="../img/fred-again.webp" alt="Fred Again">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="card">
                          <div class="card-body">
                              <p class="card-text"><strong>Title:</strong> Fred Again</p>
                              <p class="card-text"><strong>Description:</strong> New Electronic DJ from the UK that has burst onto the music scene, with new releases including 'Adore You' and 'Ten'.</p>
                              <p class="card-text"><strong>Venue:</strong> Fortitude Music Hall, Fortitude Valley</p>
                              <p class="card-text"><strong>Date:</strong> 15/11/2024</p>
                              <p class="card-text"><strong>Time:</strong> 19:30</p>
                              <p class="card-text"><strong>Price:</strong> $90</p>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Purchase Tickets -->
              <hr class="my-4">
              <h4 class="mb-3">Tickets</h4>
              <div class="col-md-5">
                  <select class="form-select">
                      <option value="">Choose...</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                  </select>
                  <p></p>
                  <a href="../bookings.html" class="w-100 btn btn-primary btn-md">Buy Tickets</a>
              </div>

              <!-- Comments -->
              <hr class="my-4">
              <h4 class="mb-3">Comments</h4>
              <div class="col-md-5">
                  <div class="mb-3">
                      <textarea class="form-control border-black" rows="3"></textarea>
                  </div>
                  <a href="fred-again.html" class="w-100 btn btn-primary btn-md">Post Comment</a>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}